/* @tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-gray-100 text-gray-800;
} */

@import "tailwindcss";
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 10px;
}
